PORT=8000
MONGO_URL=mongodb://localhost:27017/mernstack

CORS_ORIGIN:*

ACCESS_TOKEN_SECRET=3HGmlZ8PD2Gh2T8U2eXIuaX3ORqcZ5P9J496kCvH2hEYttahwgwj4IoXT9LzYUtU
ACCESS_TOKEN_EXPIRE=1d
REFRESH_TOKEN_SECRET=3HGmlZ8PD2Gh2T8U2eXIuaX3ORqcZ5P9J496kCvH2hEYttahwgwj4IoXT9LzYUtU
REFRESH_TOKEN_EXPIRE=7d

CLOUDINARY_CLOUD_NAME=djuobqgps
CLOUDINARY_API_KEY=665986652432533
CLOUDINARY_API_SECRET=PAYALTYAGI